MyCloudStoreApp/Connected Services/MCSService/MyCloudStoreSvc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyCloudStoreSvc" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyCloudStoreSvc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StoredFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="size" type="xs:int" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoredFile" nillable="true" type="tns:StoredFile" />
</xs:schema>